/* Each band style */
.bands_detail {
    text-align: center;
    padding: 15px;
}

.inside_band {
    background-color: antiquewhite;
    padding-bottom: 5px;
    border-radius: 5px;
    line-height: 10px;
}
.inside_band img {
    margin-top: 5px;
    border-radius: 5px;
    padding: 2px;
}

/* add to cart button style */
.regular_btn {
    background-color: goldenrod;
    border: 0;
    width: 150px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 4px;
    padding: 2px;
    margin-bottom: 5px;
    cursor: pointer;
}